<div class="header"></div>
<div class="container">
  <div class="content" id="content1" (scroll)="scrollcheck()">
    <div class="message" *ngFor="let message of messages">
      {{message.value}}
    </div>
    <div class="message" *ngFor="let msg of messageService.messages">
      {{msg.value}}
    </div>
  </div>
  <div class="footer">
    <label>
      <input type="text" class="text-input" placeholder="value" [(ngModel)]="message.value" name="value">
    </label>
    <button (click)="sendMessage()">send</button>
  </div>
</div>
