<div class="header"></div>
<div class="container">
  <div class="content" (scroll)="scrollCheck()" #scroll>
    <div class="message" *ngFor="let message of messages">
      {{message.value}}
    </div>
    <div class="message" *ngFor="let msg of messageService.messages">
      {{msg.value}}
    </div>
  </div>
  <div class="footer">
    <label>
      <input type="text" class="text-input" placeholder="value" [(ngModel)]="message.value" name="value" autofocus (keyup.enter)='sendMessage()'>
    </label>
    <button (click)="focusOnFirstMessage()">focus</button>
  </div>
</div>
